.main-logo {
	/* display: flex; */
	display: inline-block;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 24px;
}

.logo {
	color: var(--bc-blue);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo.top {
	color: var(--bc-black);
}
.logo.bot {
	color: var(--bc-white);
}
